# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/

# env files (can opt-in for committing if needed)
.env*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

#prisma
/prisma/migrations
/src/lib/prisma
/prisma/dev.db
